$color-background: #2c3e50;
$color: #6c757d;
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    background: {
        color: $color-background;
    }
    margin: 0px 0px 10px 0px;
    padding: 10px;
    color: white;
    font: {
        size: 25px;
        weight: bold;
    }
}

.canvas {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}

.canvas-photo {
    background: {
        color: $color-background;
    }
    margin: 10px 0px;
}

.form-group {
    margin: 5px 0px;
}

button.btn {
    cursor: pointer;
    background-color: $color;
    border: {
        color: $color;
        style: solid;
    }
    color: white;
}

button.btn:hover {
    background-color: darken($color, 20%);
    border-color: darken($color, 20%);
}

.in-middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }